html {
  scroll-behavior: smooth;
}

.hero {
  color: white;
}

.newspaper-border {
  border: 5px double #333;
  padding: 15px;
}

.newspaper-font {
    font-family: 'Playfair Display', serif;
}

.newspaper-text {
    text-align: justify;
    line-height: 1.6;
}
